# Lab Assignment 3

MIT's Karl Ulrich donated a dataset titled Servo Data Set to the UCI Machine Learning Repository in the 1980's. The dataset has been described as "an interesting collection of data that covers an extremely non-linear phenomenon - predicting the rise time of a servomechanism in terms of two (continuous) gain settings and two (discrete) choices of mechanical linkages."

As noted on the dataset website above, the column names are defined in order as:

```python
['motor', 'screw', 'pgain', 'vgain', 'class']
```

Your mission, should you choose to accept, is to figure out a few stats about this dataset, which has been conveniently copied to your Module2/Datasets/servo.data. You can get started by opening up the assignment starter code, saved to Module2/Module2 - Lab3.ipynb.

Note: Before submitting, double check your work. Peek at the first few entries of your dataset, by opening up servo.data with a text editor. After that, use the appropriate command to look at the first few entries of your dataframe; do they match? If it's not a precise match, there might be a few useful parameters in the read_csv() api documentation that will fix your issue!

In [22]:
import pandas as pd
import numpy as np

Often, you will want to load a dataset that is missing explicit header labels. You won't know if your data lacks headers or not unless you load it up and examine the headers to see if they make sense. Pandas by default reads in the first row of data as the header. If that isn't the case for your specific data set, you will lose your first data row. Be careful!

Load up the Servo.data dataset. Examine the headers, and adjust them as necessary, if need be.

In [10]:
df = pd.read_csv('servo.txt', sep=',', names=['motor', 'screw', 'pgain', 'vgain', 'class'])
df.head(5)

  motor screw  pgain  vgain     class
0     E     E      5      4  0.281251
1     B     D      6      5  0.506252
2     D     D      4      3  0.356251
3     B     A      3      2  5.500033
4     D     B      6      5  0.356251

Let's try experimenting with some slicing. Create a slice that contains all entries that have a vgain equal to 5. Then print the length of (# of samples in) that slice:

In [13]:
vgain5 = df[df.vgain == 5]
len(vgain5)

22

Create a slice that contains all entries having a motor equal to E and screw equal to E. Then print the length of (# of samples in) that slice:

In [18]:
motor_screw_E = df[(df.motor == 'E') & (df.screw == 'E')]
len(motor_screw_E)

6

Create a slice that contains all entries having a pgain equal to 4. Use one of the various methods of finding the mean vgain value for the samples in that slice. Once you've found it, print it:

In [27]:
pgain4 = df[df.pgain == 4]
mean = np.mean(df.vgain)

print('all pgain = 4, mean vgain = ', mean)
pgain4.head(5)

all pgain = 4, mean vgain =  2.538922155688623

   motor screw  pgain  vgain     class
2      D     D      4      3  0.356251
5      E     C      4      3  0.806255
9      D     A      4      1  1.031254
12     B     C      4      1  0.281251
19     C     E      4      2  0.206250

Here's a bonus activity for you. See what happens when you display the .dtypes property of your dataframe!

In [28]:
df.dtypes

motor     object
screw     object
pgain      int64
vgain      int64
class    float64
dtype: object